<!DOCTYPE html>
<html>

<header>
	<h1 class="text-light bg-dark text-center">Inicio</h1>
</header>

<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	 crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="/docker">Docker<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/ubuntu">Ubuntu<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>

</nav>

<br>

    <h1 class="text-light text-center">¿Que es un contenedor?</h1>
    <br>
    <p class="text-light mx-auto" style="width: 1000px;">
        El concepto de Contenedor, aplicado a la informática, consiste en agrupar y aislar entre sí aplicaciones o grupos
        de aplicaciones que se ejecutan sobre un mismo núcleo de sistema operativo.
        los Contenedores Informáticos utilizan una pieza de software a modo de un buque plataforma (ese software casi siempre es Docker),
        aprovechando ese océano de recursos informáticos (procesador, memoria, red y almacenamiento) sobre el mismo Sistema Operativo.
        <br>
        <br>
        ¿Qué es lo que dice Docker? -"Una imagen de contenedor es un paquete ligero, independiente,
        ejecutable de una pieza de software que incluye todo lo necesario para ejecutarlo: código, tiempo de ejecución,
        herramientas del sistema, bibliotecas del sistema, configuraciones."
    </p>

    <br>
    <h3 class="text-light text-center">¿Por qué son importantes?</h3>
    <p class="text-light mx-auto" style="width: 1000px;">
        El problema de que una aplicación no se ejecute correctamente cuando se mueve de un entorno a
        otro es tan antiguo como el propio desarrollo de software. Estos problemas suelen deberse a diferencias
        de configuración en los requisitos de las bibliotecas subyacentes y otras dependencias.
        <br>
        <br>
        Los contenedores solucionan este problema proporcionando una infraestructura ligera e inmutable para el
        empaquetado y la implementación de aplicaciones. Una aplicación o un servicio, sus dependencias y su configuración
        se empaquetan como una imagen de contenedor. La aplicación en contenedor se puede probar como una unidad e
        implementarse como una instancia de imagen de contenedor en el sistema operativo host.
        <br>
        <br>
        De esta manera, los contenedores permiten a los desarrolladores y profesionales de TI implementar aplicaciones
        en entornos sin necesidad de realizar ningún cambio o solo con cambios mínimos.
        <br>
        <br>
        Obtenga más información sobre el origen y lo interesante de los contenedores.
    </p>

    <body background="https://fondosmil.com/fondo/3879.jpg">
</html>