<!DOCTYPE html>
<html>

<header>
	<h1 class="text-light bg-dark text-center">Ubuntu</h1>
</header>

<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	 crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="/docker">Docker<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/index">Inicio<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>

</nav>

<br>

    <h1 class="text-light text-center">¿Que es Ubuntu?</h1>
    <br>
    <p class="text-light mx-auto" style="width: 1000px;">
        Ubuntu es un sistema operativo de software libre y código abierto. Es una distribución de Linux basada en
        Debian. Puede correr en computadores de escritorio y servidores. Está orientado al usuario promedio, con un
        fuerte enfoque en la facilidad de uso y en mejorar la experiencia del usuario. Está compuesto de múltiple
        software normalmente distribuido bajo una licencia libre o de código abierto. Estadísticas web sugieren que
        la cuota de mercado de Ubuntu dentro de las distribuciones Linux es, aproximadamente, del 52%, y con una
        tendencia a aumentar como servidor web.
        <br>
        <br>
        Su patrocinador, Canonical, es una compañía británica propiedad del empresario sudafricano Mark Shuttleworth.
        Ofrece el sistema de manera gratuita, y se financia por medio de servicios vinculados al sistema operativo
        y vendiendo soporte técnico. Además, al mantenerlo libre y gratuito, la empresa es capaz de aprovechar los
        desarrolladores de la comunidad para mejorar los componentes de su sistema operativo. Extraoficialmente, la
        comunidad de desarrolladores proporciona soporte para otras derivaciones de Ubuntu, con otros entornos
        gráficos, como Kubuntu, Xubuntu, Ubuntu MATE, Edubuntu, Ubuntu Studio, Mythbuntu, Ubuntu GNOME y Lubuntu.
        <br>
        <br>
        Canonical, además de mantener Ubuntu, provee una versión orientada a servidores, Ubuntu Server,
        una versión para empresas, Ubuntu Business Desktop Remix, una para televisores, Ubuntu TV, otra versión para
        tabletas Ubuntu Tablet, también Ubuntu Phone y una para usar el escritorio desde teléfonos inteligentes,
        Ubuntu for Android.
        <br>
        <br>
        Cada seis meses se publica una nueva versión de Ubuntu. Esta recibe soporte por parte de Canonical durante
        nueve meses por medio de actualizaciones de seguridad, parches para bugs críticos y actualizaciones menores
        de programas. Las versiones LTS (Long Term Support), que se liberan cada dos años, reciben soporte durante
        cinco años en los sistemas de escritorio y de servidor.
    </p>

    <body background="https://fondosmil.com/fondo/3879.jpg">
</html>